
.glok-icone-expandir-para-cima:before { content: '\e971'; } /* '' */
.glok-icone-expandir-para-baixo:before { content: '\e972'; } /* '' */
.glok-icone-expandir-para esquerda:before { content: '\e973'; } /* '' */
.glok-icone-expandir-para-direita:before { content: '\e974'; } /* '' */
.glok-icone-clientes:before { content: '\ef79'; } /* '' */
.glok-icone-contatos:before { content: '\ef7a'; } /* '' */
.glok-icone-sugestões:before { content: '\ef7b'; } /* '' */
.glok-icone-circulo:before { content: '\ef7c'; } /* '' */
.glok-icone-pesquisa:before { content: '\ef7d'; } /* '' */
.glok-icone-exportar:before { content: '\ef7e'; } /* '' */
.glok-icone-pessoa-juridica:before { content: '\ef80'; } /* '' */
.glok-icone-pessoa-fisica:before { content: '\ef81'; } /* '' */
.glok-icone-documento-e-mala:before { content: '\ef82'; } /* '' */
.glok-icone-produtos:before { content: '\ef83'; } /* '' */
.glok-icone-serviços:before { content: '\ef84'; } /* '' */
.glok-icone-sair-1:before { content: '\ef85'; } /* '' */
.glok-icone-subir:before { content: '\ef86'; } /* '' */
.glok-icone-substituir:before { content: '\ef87'; } /* '' */
.glok-icone-documentos:before { content: '\ef88'; } /* '' */
.glok-icone-unidade:before { content: '\ef89'; } /* '' */
.glok-icone-caixa-verificado:before { content: '\ef8a'; } /* '' */
.glok-icone-caixa-selecionada:before { content: '\ef8b'; } /* '' */
.glok-icone-caixa-sem-seleção:before { content: '\ef8c'; } /* '' */
.glok-icone-verificado:before { content: '\ef8d'; } /* '' */
.glok-icone-circulo-verificado:before { content: '\ef8e'; } /* '' */
.glok-icone-editar-colunas:before { content: '\ef90'; } /* '' */
.glok-icone-excluir:before { content: '\ef91'; } /* '' */
.glok-icone-editar:before { content: '\ef92'; } /* '' */
.glok-icone-tela-principal:before { content: '\ef93'; } /* '' */
.glok-icone-menu:before { content: '\ef94'; } /* '' */
.glok-icone-adicionar:before { content: '\ef95'; } /* '' */
.glok-icone-fechar-menu:before { content: '\ef96'; } /* '' */
.glok-icone-atualizar:before { content: '\ef97'; } /* '' */
.glok-icone-sair:before { content: '\f730'; } /* '' */
.glok-icone-favorito:before { content: '\f732'; } /* '' */
